<script type="text/javascript" src="/assets/My97DatePicker/WdatePicker.js" ></script>
<%= javascript_include_tag "simulation_new" %>
<div class="main_title">
  <div class="m_t_h">新建模拟考试</div>
</div>
<div class="text_box">
  <div class="bianji_ny">
    <%= form_for :exam_info ,:url=>"/simulations",:html=>{:id=>"exam_info"} do %>
      <div>名称 <input name="" type="text" /></div>
      <div>日期 <input name="" type="text" onclick="javascript:WdatePicker();" /> 至 <input name="" type="text"  onClick="WdatePicker();" /></div>
      <div>试卷：<a href="#">添加试卷</a></div>
      <div class="bj_sfei">收费方式：<span class="bj_span"><input name="fee" type="radio" value="1" />免费</span>
        <span class="bj_span"><input name="fee" type="radio" value="0" />收费</span>
        <span class="bj_span"><input name="fee" type="radio" value="2" />单独收费，金额 <input name="" size="10" type="text" /></span>
      </div>
    <% end %>
    <div><button class="t_btn">创建</button></div>
  </div>
</div>

