<script type="text/javascript" src="/assets/plugin_assets/My97DatePicker/WdatePicker.js" ></script>
<div class="main_title">
  <div class="m_t_h">新建模拟考试</div>
</div>
<div class="text_box">
  <div class="bianji_ny">
    <div>名称 <input name="" type="text" /></div>
    <div>日期 <input name="" type="text" onclick="javascript:WdatePicker();alert(2);" /> 至 <input name="" type="text"  onClick="WdatePicker();" /></div>
    <div>试卷：<a href="#">添加试卷</a></div>
    <div class="bj_sfei">收费方式：<span class="bj_span"><input name="" type="radio" value="" />免费</span>
      <span class="bj_span"><input name="" type="radio" value="" />收费</span>
      <span class="bj_span"><input name="" type="radio" value="" />单独收费，金额 <input name="" size="10" type="text" /></span>
    </div>
    <div><button class="t_btn">创建</button></div>
  </div>
</div>

