
<div class="login_area">
  <h1>管理登录</h1>
  <div class="login_box">
    <%= form_for :user do %>
      <div>用户名</div>
      <div><input id="user_name" name="user_name" type="text" /></div>
      <div>密 码</div>
      <div><input id="user_password" name="user_password" type="password" /></div>
    <% end %>
    <div class="login_btn"><button id="login_exam"></button></div>
  </div>
</div>
