<div class="addWords">
  <span class="yj_x"><img src="/assets/x.gif" onclick="javascript:close_addWords();" /></span>
  <div class="addwords_side">
    <div><input name="" type="text" id="t_se_input_words" class="t_se_input" /><button onclick="javascipt:$(function(){ajax_load_words_list($('#t_se_input_words').val(),$($('#addWords_words_input').val()).val())})" class="t_search"></button></div>
    <input type="hidden" id="addWords_words_input" />
    <input type="hidden" id="addWords_display" />
    <div class="words_ny">
      <ul id="words_list_ajax_loader"></ul>
    </div>
    <div id="already_add_words_div" class="words_ny"></div>
    <input type="hidden" id="addWords_insert_words" value="" />
    <div><button class="t_btn" onclick="javascript:insert_words('#addWords_insert_words',$('#addWords_words_input').val(),$('#addWords_display').val());">插入</button></div>
  </div>
  <div class="addwords_side">
    <div class="xs_add" id="xs_add_div">
    </div>
  </div>
</div>