<div class="main_title">
  <div class="m_t_h">试卷信息</div>
</div>
<div class="text_box">
  <div class="bianji_ny">
    <div>试卷名称 <input name="" type="text"></div>
    <div>考试时长 <input name="" type="text"> 分</div>
    <div><button class="t_btn">下一步</button></div>
  </div>
</div>