<div class="main_title">
  <div class="m_t_h">试卷信息</div>
</div>
<div class="text_box">
  <%= form_for :paper ,:url=>"/papers?category=#{params['category']}",:html=>{:onsubmit=>" return paper_info()"} do |f|%>
    <div class="bianji_ny">
      <div>试卷名称 <input name="title" type="text" id="title" /></div>
      <div>考试时长 <input name="time" type="text" id="time" /> 分</div>
      <div><input type="submit" class="t_btn" value="下一步"></input></div>
    </div>
  <% end %>
</div>

