<ul>
  <% unless @words.blank? %>
    <li>查询无结果</li>
  <% else %>
    <% @words.each do |word| %>
    <li><a href="javascript:void(0);" onclick="javascript:choose_word(<%= word.id %>);"><%= word.name %></a></li>
    <% end %>
  <% end %>
</ul>