<div class="main_title">
  <div class="m_t_btn"><button>新建试卷</button></div>
  <div class="m_t_h">真题列表</div>
  <div class="m_t_select">
    <select name="" size="1">
      <option value="-1">全部</option>
      <option value="">免费</option>
      <option>收费</option>
    </select>
  </div>

</div>

<div class="text_box">
  <% @similarities.each do |similarity| %>
  <div class="t_list">
    <div class="text_btn">
      <button class="t_btn">编辑</button>
      <button class="t_btn">统计</button>
    </div>
    <h2><%= similarity.title %></h2>
    <span><%= similarity.is_free ? "免费" : "收费" %> <%= @exam_papers[similarity.id].join(" ") %></span>
  </div>
  <% end %>

  <div class="sabrosus"><span class="disabled"> < </span><span class="current">1</span><a href="#?page=2">2</a><a href="#?page=3">3</a><a href="#?page=4">4</a><a href="#?page=5">5</a><a href="#?page=6">6</a><a href="#?page=7">7</a>...<a href="#?page=199">199</a><a href="#?page=200">200</a><a href="#?page=2"> > </a></div>

</div>