<div class="main_title">
  <div class="m_t_h">新建真题</div>
</div>

<div class="text_box">
  <div class="bianji_ny">
    <div>名称 <input name="" type="text" /></div>
    <div>试卷：<a href="#">添加试卷</a></div>
    <div><input name="" type="checkbox" value="" /> 免费使用</div>
    <div><button class="t_btn">创建</button></div>
  </div>
</div>