<div class="main_title">
  <div class="m_t_h">学习计划</div>
</div>
<%= javascript_include_tag "study_plan" %>
<div class="text_box">
  <div class="bianji_ny">
    <div>天数： <input name="" type="text" /></div>
    <div id="taks">任务：<a href="javascript:$('.add_renwu').css('display','');" class="gl_add_a">添加任务</a></div>
    <div><button class="t_btn">保存</button></div>
  </div>
</div>


<div class="add_renwu" style="display:none">
  <span class="yj_x"><img src="/assets/x.gif" onclick="javascript:$('.add_renwu').css('display','none');" /></span>
  <div>周期： <input name="priod" type="radio" value="0" />每天 <input name="priod" type="radio" value="1" />整个期间</div>
  <div>任务：
    <select name="">
      <option value="-1">任务类型</option>
      <option value="0">做题</option>
      <option value="1">背词</option>
      <option value="2">模拟考试</option>
    </select>
  </div>
  <div>数量：<input id="amount" type="text" /></div>
  <div><button class="t_btn">添加</button></div>
</div>

