/*CSS sabrosus style pagination*/
.pagination { padding: 6px; margin: 6px; text-align: center; font-size: 14px;}
.pagination a { border: #c1c1c1 1px solid; padding: 6px 10px; color: #2e6ab1; margin-right: 4px; text-decoration: none;}
.pagination a:hover { border: #289FDB 1px solid; color: #289FDB; background: #d0e7ee;}
.pagination a:active {border: #c1c1c1 1px solid; color: #000; background: #d0e7ee;}
.pagination em { border: #289FDB 1px solid;  padding: 6px 10px; font-weight: bold; color: #289FDB; margin-right: 4px; background: #d0e7ee;}
.pagination span.disabled { border: #c1c1c1 1px solid; padding: 6px 10px; color: #929292; margin-right: 4px;}

/* 提示弹出层*/
.tishi_tab {width: 288px; height: 82px; padding:30px 10px 10px 10px; background: url(/assets/tishi_tab_bg.png) no-repeat; position: fixed; display: none;z-index: 9999;}
.tishi_tab p  { text-align: center; line-height: 24px; font-size: 14px; font-family:"微软雅黑"; color: #ffffff;}

