<div class="main">
  <div class="nav">
    <ul>
      <li><a href="#" class="hover">科&nbsp;&nbsp;目</a></li>
      <li><a href="#">用&nbsp;&nbsp;户</a></li>
      <li><a href="#">运营数据</a></li>
      <li><a href="#">大学英语四级</a></li>
    </ul>
  </div>
  <div class="nav_list">

  </div>
  <div class="main_title">
    <div class="m_t_btn"><button>新建科目</button></div>
  </div>
  <div class="text_box">
    <div class="kemu_box">
      <h1>大学英语四级</h1>
      <div>36元</div>
      <div>管理员：<span class="bj_span">叶森</span><span class="bj_span">王关洪</span></div>
      <div><input name="" type="text"><button class="t_btn">添加管理员</button></div>
      <div class="km_a"><a href="#">管理</a><a href="#">修改</a></div>
    </div>
    <div class="kemu_box">
      <h1>大学英语四级</h1>
      <div>36元</div>
      <div>管理员：<span class="bj_span">叶森</span><span class="bj_span">王关洪</span></div>
      <div><input name="" type="text"><button class="t_btn">添加管理员</button></div>
      <div class="km_a"><a href="#">管理</a><a href="#">修改</a></div>
    </div>
    <div class="kemu_box">
      <h1>大学英语四级</h1>
      <div>36元</div>
      <div>管理员：<span class="bj_span">叶森</span><span class="bj_span">王关洪</span></div>
      <div><input name="" type="text"><button class="t_btn">添加管理员</button></div>
      <div class="km_a"><a href="#">管理</a><a href="#">修改</a></div>
    </div>
    <div class="clear space20"></div>
    <div class="sabrosus"><span class="disabled"> &lt; </span><span class="current">1</span><a href="#?page=2">2</a><a href="#?page=3">3</a><a href="#?page=4">4</a><a href="#?page=5">5</a><a href="#?page=6">6</a><a href="#?page=7">7</a>...<a href="#?page=199">199</a><a href="#?page=200">200</a><a href="#?page=2"> &gt; </a></div>
  </div>
  <div class="main_bottom"></div>
</div>
