<div class="nav_list"> </div> 
<div class="main_title">
  <div class="m_t_h">新建科目</div>
</div>
<div class="text_box">
  <div class="bianji_ny">
    <%= form_for :new,:url=>"/categories/new_post",:html=>{:id=>"new",:onsubmit=>"return validate_category_form('new')"} do |f| %>
      <div>科目名称 <input name="name" id="category_name" type="text" /></div>
      <div>付费标准 <input name="price" id="category_price" type="text" /></div>
      <div><button class="t_btn">完成</button></div>
    <% end %>
  </div>
</div>