<%= javascript_include_tag "/assets/My97DatePicker/WdatePicker.js" %>
<div class="add_exPaper" style="display: none;">
  <span class="yj_x"><img src="/assets/x.gif" onclick="javascript:pop_window_closed(this);" /></span>
  <div class="add_ep_top">
    <% unless add_expaper.nil? %>
      <h3>已有试卷列表：</h3>
      <div class="exPaper_list"><a href="#">模拟试卷03</a><a href="#">[删除]</a></div>
    <% end %>
    <%= form_for :similarity_form, :url => "/similarities/get_papers?category=#{params[:category]}", :remote => true do |f| -%>
      <h3>试卷查询：</h3>
      <div><label>创建时间：</label>
        从<input name="mintime" id="mintime" readonly type="text" size="15" class="Wdate" onClick="WdatePicker()"/>
        到<input name="maxtime" id="maxtime" readonly type="text" size="15" class="Wdate" onClick="WdatePicker()"/>
      </div>
      <div><label>试卷标题：</label>
        <input name="exam_title" id="exam_title" type="text" />
        <button type="submit" class="t_search"></button>
      </div>
    <% end %>
  </div>
  <div class="add_ep_div" id="paper_list">
  </div>
</div>