<div class="add_exPaper" style="display: none;">
  <span class="yj_x"><img src="/assets/x.gif" /></span>
  <div class="add_ep_top">
    <% unless add_expaper.nil? %>
      <h3>已有试卷列表：</h3>
      <div class="exPaper_list"><a href="#">模拟试卷03</a><a href="#">[删除]</a></div>
    <% end %>
    <h3>试卷查询：</h3>
    <div><label>试卷分类：</label>
      <select name="">
        <option>aa</option>
        <option>bb</option>
      </select>
    </div>
    <div><label>创建时间：</label>从<input name="" type="text" />到<input name="" type="text" /></div>
    <div><label>试卷标题：</label><input name="" type="text" /><button class="t_search"></button></div>
  </div>
  <div class="add_ep_div">
    <div class="se_ep_list"><span>2011-11-11</span><input name="" type="checkbox" value="" />&nbsp;2011年12月大学英语四级试卷</div>
    <div class="se_ep_list"><span>2011-11-11</span><input name="" type="checkbox" value="" />&nbsp;2011年12月大学英语四级试卷</div>
    <div class="se_ep_list"><span>2011-11-11</span><input name="" type="checkbox" value="" />&nbsp;2011年12月大学英语四级试卷</div>
    <div class="se_ep_list"><span>2011-11-11</span><input name="" type="checkbox" value="" />&nbsp;2011年12月大学英语四级试卷</div>
    <div class="add_ep_btn"><button>指定为本场考试试卷</button></div>
  </div>
</div>